/* General */

$color-invalid: #FF4646;
$color-accent: #6E72EC;
$color-background-footer: #121212;
$size-navbar-height: 95px;
$size-tablet: 768px;
$size-desktop: 1024px;

/* Light Theme Colors */

$color-text-primary-light: #232323;
$color-text-secondary-light: #434343;
$color-background-light: #fff;
$color-background-accent-light: #EBECFF;
$color-background-ui-light: #EBECFF;
$color-background-ui-hover-light: #D6D8FF;
$color-text-ui-primary-light: #434343;
$color-text-ui-placeholder-light: #A9A9A9;
$color-button-primary-light: #6E72EC;
$color-text-ui-selected-light: #6E72EC;
$color-text-ui-select-light: #434343;

/* Dark Theme Colors */

$color-text-primary-dark: #DCDCDC;
$color-text-secondary-dark: #fff;
$color-background-dark: #202020;
$color-background-accent-dark: #1A1B43;
$color-background-ui-dark: #4D4E69;
$color-background-ui-hover-dark: #313247;
$color-text-ui-primary-dark: #FFF;
$color-text-ui-placeholder-dark: #C4C4C4;
$color-button-primary-dark: #8588EF;
$color-text-ui-selected-dark: #fff;
$color-text-ui-select-dark: #C6C6C6;